.panel-default > .panel-heading{
	background: #FFFFFF;
	padding-left: 0;
	padding-right: 0;
	margin-left: 15px;
	margin-right: 15px;
}
h2, h3{
	margin-top: 10px;
}
.navbar-default{
	border-radius: 0;
}